body{
    padding: 0;
    margin: 0;
    background-image: url("bck1.png");
    display: flex;
    justify-content: space-around;
}
#judul {
    margin-top: 10%;
    border-style: ridge ;
    padding: 5px 5px;
    text-align: center;
    font-family: tahoma;
    background-color: rgb(74, 135, 248);
    color: white;
    border-radius: 10px;
}
.img img{
    width: 150px;
    align-items: center;
    margin: 10px 10px;

}
.img{
    border-style: ridge;
    height: auto;
    display: flex;
    flex-direction: row;
}